{% extends 'base.html.twig' %}

{% block title %}Hello ArticlesController!
{% endblock %}

{% block body %}
	{# card bootstrap, il faut paramétrer bootstrap #}
	<div class="container">
		<div
			class="card" style="width: 18rem;">
			{# on a installer un file loader pour que tout ce qui est dans assets/img 
			  soit copié dans build/images, le ~ est la concaténation en twig #}

			{% if article.picture == NULL %}
				<img src="{{asset('build/images/default.jpg')}}" class="card-img-top" alt="...">
			{% else %}
				<img src="{{asset('build/images/' ~ article.picture)}}" class="card-img-top" alt="...">
			{% endif %}
			<div class="card-body">
				<h5 class="card-title">{{article.title}}</h5>
        {# directive #}
				<h5 class="card-title">{{article.date|date("d-m-Y")}}</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		</div>
	</div>
{% endblock %}
